@model IEnumerable<DAL.Entities.Order>

@{
    ViewData["Title"] = "Web Autopark|Orders";
}

<h1>Orders List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.StateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.StateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleType.Name)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id=item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
}
    </tbody>
</table>
